h1 {
    color: green;
    text-align: center;
}

p {

    text-align: center;
}

p {
    color: blue;
    text-align: center;
}

.container {
    font-family: "Arial", sans-serif;
    color: orange;
    font-size: 30px;
}

.card {
    font-family: "Arial", sans-serif;
    font-size: 30px;
    color: orange;
}

#top-product {
    color: green;
}

.product {
    color: red;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: 500px;
    background-color: aqua;
    border: 2px solid green;
}

@media screen and (max-width: 768px) {
    .dashboard .card {
        flex-direction: column;
    }

    .dashboard {
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        font-size: 10px;
    }

    .dashboard .card {
        width: 100px;

    }
}

.dashboard .card {
    color: black;
    background-color: lightgrey;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* border: solid black 5px; */
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    flex-shrink: 1;


}

.container .card:hover {
    color: green;
}